# Introduction to Python


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/unstructured-data/BanRep-2024/blob/main/notebooks/intro_python.ipynb)

## Why running Python on Google Colab?

- Free computing power provided by Google (including a limited amount of GPU)
- Key python libraries already installed
- No need to install anything locally

## How to use Colab

- To run a cell of code press: `ctrl` + `enter` or click on the small arrow at the top left of the cell
- There are 2 types of cells: code cells and markdown cells (only for text)
- Colab does not save your changes after you close the browser. Please make sure to download your notebook before you close the browser.

## Why Python?

- Great implementations of machine learning methods:
  - [scikit-learn](https://scikit-learn.org/stable/): logistic regression, decision trees, clustering algorithms, and much more.
  - [PyTorch](https://pytorch.org/), [Keras](https://keras.io), [JAX](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html): building blocks for neural networks.
  - [HuggingFace](https://huggingface.co/): high-level abstractions to work with modern, vision and audio models.
- APIs for modern commercial large language models (e.g. GPT, Gemini, Mistral)
- Versatility
- Support
  - Large community of active users
  - Modern generative language models can create useful fragments of code

## Variables and data types

- Variables are created using the = sign
- Basic data types in Python:
  - Strings: ```"Hi!"```
  - Integers: ```2```
  - Floats: ```4.4```
  - Booleans: ```True```

In [2]:
# define different variable types
my_string = "Hi everyone!"
my_float = 2.4
my_boolean = True

In [3]:
# addition
2 + 2

4

In [4]:
# multiplication
2*4

8

In [5]:
# division
2/2

1.0

In [6]:
# exponents
2**8

256

In [9]:
# combine operations
my_math_operation = (2+2) * 8
my_math_operation

32

In [10]:
# operations with strings
"Hi" + " " + "everyone" + "!"

'Hi everyone!'

In [11]:
# not all operations are valid with strings
"Hi"/"everyone"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [12]:
# operations with booleans
False + False + True

1

In [13]:
True*False

0

## Lists

- Basic object in Python to store multiple values together
- Represented by square brackets ```[ ]```

In [15]:
# create an empty list
empty_list = []
empty_list

[]

In [16]:
# create list of numbers
integer_list = [2,3,4,5,6]
integer_list

[2, 3, 4, 5, 6]

In [17]:
# create list of strings
string_list = ["john", "pedro", "juan", "nicolas"]
string_list

['john', 'pedro', 'juan', 'nicolas']

In [18]:
# list can also have mixed data types
mixed_list = [2, 4.0, True, "Hi"]

In [20]:
# get the first element of a list (notice that python starts counting from zero)
mixed_list[0]

2

In [21]:
# get the third element of a list
mixed_list[2]

True

In [22]:
# get the last element of the list
mixed_list[-1]

'Hi'

In [23]:
# change an element within a list
mixed_list[3] = 10
mixed_list

[2, 4.0, True, 10]

In [24]:
# change it again
mixed_list[-1] = "Hello"
mixed_list

[2, 4.0, True, 'Hello']

In [25]:
# add elements to a list
mixed_list + [4,6]

[2, 4.0, True, 'Hello', 4, 6]

In [26]:
# save expanded list
my_new_list = mixed_list + [4,6]
my_new_list

[2, 4.0, True, 'Hello', 4, 6]

In [28]:
# list of lists
my_list_of_lists = [[1,2,3], ["a", "b", "c"], [True, False]]
my_list_of_lists

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]

## Dictionaries

- Represented by curly brackets ```{}```
- Consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.
- Generic format formula for creating a dictionary is:  ```{"key": value}```

In [29]:
# empty dictionary
my_dictionary = {}
my_dictionary

{}

In [31]:
# create a non-empty dictionary (representing a groceries list)
# the name of the element is the key and the quantity the value
my_groceries = {"bananas": 10, "apples": 1, "olive oil": 1}
my_groceries

{'bananas': 10, 'apples': 1, 'olive oil': 1}

In [32]:
# access elements of dictionaries using the key
my_groceries["bananas"]

10

In [33]:
my_groceries["apples"]

1

In [36]:
# create a dictionary with integers as keys
my_numbers = {0: "zero", 1: "one", 2: "two"}
my_numbers

{0: 'zero', 1: 'one', 2: 'two'}

In [37]:
# access the values
my_numbers[2]

'two'

In [38]:
# add new key-value pairs to dictionary
my_numbers[10] = "ten"

In [39]:
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten'}

In [40]:
# add a new element to the dictionary 
my_numbers[20] = "twenty"
my_numbers

{0: 'zero', 1: 'one', 2: 'two', 10: 'ten', 20: 'twenty'}

In [41]:
# access all keys
my_numbers.keys()

dict_keys([0, 1, 2, 10, 20])

In [42]:
# access all values
my_numbers.values()

dict_values(['zero', 'one', 'two', 'ten', 'twenty'])

## For loops and list comprehensions

In [43]:
# create a list
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [44]:
# loop over elements of a list
for i in my_list:
  print(i)

1
2
3
4
5

In [45]:
# perform a loop that modifies a variable outside of it
my_sum = 0
for k in my_list:
  my_sum = my_sum + k

In [46]:
my_sum

15

In [47]:
# loop over a range
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [49]:
# loop over a string
my_string = "Hello!"
for l in my_string:
  print(l)

H
e
l
l
o
!

In [50]:
# for loop in one line
for k in "Hello!": print(k)

H
e
l
l
o
!

In [51]:
# list comprehension (does a loop and saves the result in a list)
[i + 2 for i in my_list]

[3, 4, 5, 6, 7]

## Conditional statements

- We can use the ```if``` statement in Python to check if a logical condition is true
- Python supports basic logical operations such as:
    - Equal: ``` == ```
    - Not equal: ``` != ```
    - Greater than: ``` > ```
    - Smaller than: ``` < ```
- After an ```if``` statement we can also use ```elif``` (i.e. else + if) and ```else``` to specify what happens when none of the logical conditions are true

In [52]:
# basic if statement
if 2 > 1:
  print("Yeeees!")

Yeeees!

In [53]:
if "Hello" == "Helo":
  print("They are the same")

In [54]:
if "Hello" != "Helo":
  print("They are not the same")

They are not the same

In [55]:
a = 10
b = 20

if a < b:
  print("a is smaller than b")

a is smaller than b

In [56]:
# if + else statement
if a == b:
  print("They are equal")
else:
  print("They are not equal")

They are not equal

In [57]:
if a > b:
  print("a greater than b")
else:
  print("a is not greater than b")

a is not greater than b

In [58]:
# if + elif + else statement
if a > b:
  print("a greater than b")
elif a == b:
  print("a equal to b")
else:
  print("a not greater and not equal to b")

a not greater and not equal to b

## Functions

- A function is a re-usable block of code that performs one or multiple operations. Functions usually take inputs and return outputs.
- Python has a set of basic pre-built functions. [Here](https://www.w3schools.com/python/python_ref_functions.asp) is a full list but some of the most used are:
  - ```print( )```
  - ```len( )```
  - ```abs( )```, ```max( )```, ```min( )```
  - ```range( )``` <br><br>

- Additional functions can be brought to Python by importing packages
- Functions can also be defined by the user using the ``` def my_function():``` syntax

In [59]:
# example of pre-built functions
print("Something!")

Something!

In [60]:
# another pre-built function
len([1,2,3,4])

4

In [61]:
len("Something!")

10

In [63]:
# most functions have required arguments
len()

TypeError: len() takes exactly one argument (0 given)

In [64]:
abs(-10)

10

In [65]:
max([10,200,5,300])

300

In [66]:
# functions from objects
my_dictionary = {"bananas": 10, "apples": 20}
my_dictionary

{'bananas': 10, 'apples': 20}

In [67]:
# keys() is a function that dictionaries have
my_dictionary.keys()

dict_keys(['bananas', 'apples'])

In [68]:
# values() is a function that dictionaries have
my_dictionary.values()

dict_values([10, 20])

In [69]:
my_string = "HELLO!"
my_string

'HELLO!'

In [70]:
# lower() is a function that strings have
my_string.lower()

'hello!'

In [71]:
# split() is a function that strings have
my_string = "Hello world !"
my_string.split()

['Hello', 'world', '!']

In [73]:
# define my own function
def my_function(x):
  result = x*2
  return result

In [74]:
my_function(10)

20